@import "../../styles/globalStyles.scss";
.button__Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  font-size: medium;
  font-weight: 600;
  color: $secondaryPurple;
  cursor: pointer;
  font-weight: 500;
}
