.about__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;

  .about__Text {
    margin-top: 20px;
    width: 85%;
    font-size: calc(0.7vw + 0.67em);
    h1 {
      font-weight: 500;
      font-size: calc(0.7vw + 1.4em);
    }
    .paragraph__Wrapper {
      margin-top: 1.2em;
      p {
        margin-bottom: 1.4em;
      }
    }

    .button__Area {
      margin-top: 1em;
    }
  }
}
