.about__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: relative;
  .about__Text {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 90vh;
    width: 85%;
    font-size: calc(0.7vw + 0.7em);
    h1 {
      font-weight: 500;
    }
    .paragraph__Wrapper {
      margin-top: 2em;
      p {
        margin-bottom: 1.4em;
      }
    }

    .button__Area {
      margin-top: 1.5em;
    }
  }
}
