//primary colors
$primaryPurple: #6d5bd0;
$primaryGreen: #007f00;
$primaryRed: #d30000;
$primaryBlack: #25213b;
$primaryGrey: #c6c2de;
$primaryWhite: #f2f0f9;
//secondary colors
$secondaryPurple: #8b83ba;
$secondaryWhite: #f4f2ff;
